<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E X C H E N G E R</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        <div class="list__block">
            <h2 class="list__title">
                О Б М Е Н   |   В А Л Ю Т
            </h2>
            <ul class="list">
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:5000/eur_to_usd/1/" target="_blank"><span class="gradient__text">1 EUR ---> USD</span> - курс 1 (одного) евро к доллару США</a></li>
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:5000/eur_to_gbp/1/" target="_blank"><span class="gradient__text">1 EUR ---> GBP</span> - курс 1 (одного) евро к фунту стерлингов</a></li>
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:5000/eur_to_php/1/" target="_blank"><span class="gradient__text">1 EUR ---> PHP</span> - курс 1 (одного) евро к Филиппинсому песо</a></li>
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:5000/history/" target="_blank"><span class="gradient__text">История запросов</span> - посмотреть все сделанные запросы</a></li>
            </ul>
        </div>
    </div>
</body>
</html>